In [7]:
n=int(input("Enter the Total no: "))
l=[]
t=1
for i in range(n):
    print(f'Student {t}:')
    name=input("Enter the Name: ")
    age=int(input("Enter the Age: "))
    course=input("Enter the Course: ")
    d={'Name':name,'Age':age,'Course':course}
    l.append(d)
    t+=1
print("Student Details....")
z=1
for j in l:
    print(f" Student {z}: Name: {j['Name']}, Age: {j['Age']}, Course: {j['Course']}")
    z+=1

Enter the Total no:  2

Student 1:

Enter the Name:  Rahul
Enter the Age:  19
Enter the Course:  ja

Student 2:

Enter the Name:  hgk
Enter the Age:  19
Enter the Course:  sh

Student Details....

TypeError: 'list' object cannot be interpreted as an integer